<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{me.name}}</title>
    <meta name="description" content="Resume for {{me.name}}. {{me.description}}">

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <!-- OpenGraph Embed -->
    <meta property="og:title" content="{{me.name}}'s resume" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https:// sheasthepronoun.github.io/" />
    <meta property="og:image" content="/assets/favicon.png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    <meta property="og:image:alt" content="{{me.name}}'s logo. An uppercase S, with white cutout lines running throughout" />

     <meta property="og:description" content="Resume for {{me.name}}. {{me.description}}" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="SheAsThePronoun" />

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <h1>{{me.name}}</h1>
        <span>{{me.description}}</span>
    </header>
    <main id="main">
        {{#> section title="Work Experience"}}
            <ul>
                {{#each experience.work}}
                <li>

                    <span>
                        {{start}} -
                        {{#if end}}
                        {{end}}
                        {{else}}
                        Heden
                        {{/if}}
                    </span>
                    <div>
                        <h3>{{function}}, {{company}}</h3>
                        <span>{{location}}</span>
                        <p>{{description}}</p>
                    </div>
                </li>
                {{/each}}
            </ul>
        {{/section}}

        <div id="skills-and-languages">
            {{#> section title="Skills"}}
                <ul>
                    {{#each skills}}
                    <!-- Because not an object, use {{ this }} -->
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/section}}

            {{#> section title="Languages"}}
                <h3>Human</h3>
                <ul>
                    {{#each languages.human as |level language|}}
                        <!-- Because not an object, use {{ this }} -->
                        <li>{{language}} - {{level}}</li>
                    {{/each}}
                </ul>
                <h3>Programming</h3>
                <ul>
                    {{#each languages.programming as |level language|}}
                        <!-- Because not an object, use {{ this }} -->
                        <li>{{language}} - {{level}}</li>
                    {{/each}}
                </ul>
            {{/section}}
        </div>
        
    </main>
    <aside>
        {{#> section title="Education"}}
            <ul>
                {{#each experience.education}}
                <li>
                    <h3>{{course}}, {{school}}</h3>
                    <span>{{location}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span>
                        {{start}} -
                        {{#if end}}
                        {{end}}
                        {{else}}
                        Heden
                        {{/if}}
                    </span>
                    <p>{{learned}}</p>
                </li>
                {{/each}}
            </ul>
        {{/section}}

        {{#> section title="Links"}}
            <ul>
                {{#each links}}
                    <li><a href="{{link}}">{{name}}</a></li>
                {{/each}}
            </ul>
        {{/section}}
    </aside>

</body>

</html>